body {
  font-family: "Saira", sans-serif;
}

h1 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 100px;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calendar-header {
  display: flex;
  flex-direction: row;
  padding: 5px;
  border: 3px solid black;
  width: 500px;
  text-align: center;
  font-size: 2rem;
}

input {
  width: 420px;
  height: 32px;
  margin: 5px;
  font-size: 1.5rem;
  border: 3px solid black;
}

button {
  margin: 5px;
  font-size: 1.5rem;
  border: 3px solid black;
}

.calendar {
  padding: 5px;
  border: 3px solid black;
  width: 500px;
  text-align: center;
  font-size: 2rem;
  margin-top: 5px;
}

.day-letter {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 8px;
}

.day-letter,
p {
  margin: 0;
}

.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
}
